<h1> User Profile </h1>

Name: <%= @user.name %><br>
E-mail: <%= @user.email %><br>
Member Since: <%= @user.created_at %><br>
<%= link_to "New TrApp", '/traps/new' %> <br>
<%= link_to "View All TrApps", '/traps/show' %> <br>

