<br>
<br>
<br>
<br>
<div id="profilepage">
<h1 id="profheader">Your Speed TrApp Profile</h1>
<div class="row">
  <aside class="col-md-4">
      <h3>Username: <%= @user.name %></h3>
      <h3>Email:  <%= @user.email %></h3>
      <h3>Member Since: <%= @user.created_at %><</h3>
  <%= link_to "New TrApp", '/traps/new' %> <br>
  <%= link_to "View All TrApps", '/traps/show' %> <br>
  </aside>
</div>


